html,body{
	font-family: helvetica;
	height:100%;
	margin:0px;
}

/* new index */


* {
  box-sizing: border-box;
}

.div_back{
    background-color: blue;
}

.bg-image {
  /* The image used */
  background-image: url("Images/bgimg5.png");

  

  /* Full height */
  height: 100%;
  
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 50px;
    text-align: center;
}
/* menu */

.mainmenu {
	background-color: #555;
	overflow: hidden;
	padding: 0px;
	z-index: 5;
	height: 55px;
}
.name{
	background-color: black;
	float: right;
	list-style-type: none;
	margin: 0px;
	z-index: 5;
	padding-left: 5px;
}
.center {
    text-align: center;
    /*border: 3px solid green;*/
}
.name li {
	display: inline-block;
}
.name li a{
	display: block;
	text-decoration: none;
	margin-right: 0px;
	color: white;
}

.tname{
	padding: 20px 0px 20px 0px;
	color: white;
}

.tname:hover{
	background-color: white;
	color:navy;
	padding: 20px 10px 20px 10px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	transition: padding 1s ease;
	-webkit-transition: padding 1s ease;
}

.submenu {
	background-color: #555;
	float: left;
	list-style-type: none;
	margin: 0px;
	z-index: 5;
	padding-right: 3px;
}
.submenu ul{
	margin: 0px;
}
.submenu li {
	display: inline-block;
	margin: 0px;
}

.submenu .active a{
	color:white;
}

.submenu li a {
	display: block;
	color: orange;
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	margin-right: 0px;
}

.submenu a:hover{
	background-color: white;
	color:navy;
	padding: 20px 10px 20px 10px;
	box-shadow: 0px 2px 4px orange;
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
	-webkit-transition: padding 0.5s ease;
	transition: padding 0.5s ease;
} 
/*.name img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
}
.name img:hover {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }*/
	


/* Contact */

.contact{
	background-color: black;
	padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 3px;
	color: white;
	height: 80px;
}
.contact h3{
	color: black;
}

/* Index */
.bgimg{
	display: flex;
	/*background-image: url('Images/bgimg1.png');*/
	/*background-image: url("Images/bgimg2.jpg");*/
	background-image: linear-gradient(to bottom right, #dc7633 ,  #f7dc6f );
	height: 90%;
    background-size: auto 100%;
    background-position: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-size: cover; /* Resize the background image to cover the entire container */
	
} 

.bgimg .desc p{
	color:  #e5e8e8;
	width: 80%;
}

.desc{
	float: right;
	text-align: center;
	margin-top: 120px;
	margin-left: 30px;
	overflow: hidden;
	width: 80%;
}

.desc h1{
	color: black;
	margin-bottom: 80px;
}

/*
.desc a{
	color: orangered;
	font-size: 1.5em;
}


.descr a{
	color: orangered;
	font-size: 1.5em;
}

.pic img:hover{
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	border-radius: 0;
}
.pic{
	float: left;
	width: 30%;
	border-right: 5px solid grey;
}

.pic img{
	width: 80%;
	height: auto;
	border-radius: 50%;
	margin: 60px 10px;
}*/

/*Mentors*/
.topmentor{
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 5px;
}

.mdesc{
	float: right;
	margin-top: 0px;
	margin-left: 20px;
	padding-right: 50px;
	overflow: hidden;
	width: 80%;
}
.mdesc h1{
	color: red;
}
.mdesc .de{
	text-align: justify
}
.mpic{
	float: left;
	width: 20%;
	border-right: 5px solid lightgrey;
}

.mpic img{
	width: 80%;
	height: auto;
	
	margin: 10px auto;
	object-fit: contain;
	display: block;
}

/* Team */


.row {
  display: flex;
}

.center_div {
    margin: auto;
    width: 23%;
    padding: 10px;
    flex: 33.33%;
}

.column {
  flex: 33.33%;
  padding: 40px;

} 

.column img{
    height: 275px;
}



 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
} 

/* Meetings */

.meeting-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 75%;
  border: 3px solid #ddd;
  margin-left: 200px;
}

.meeting-table th, td {
  text-align: center;
  padding: 16px;
}

.meeting-table th{
	color: navy;
}

.meeting-table tr:nth-child(even) {
  background-color: #f2f2f2
}

